@charset "utf-8";

html, body {height: 100%; margin: 0;
	-webkit-text-size-adjust: none;
}

ul {margin:0; padding:0; list-style:none;}
a {text-decoration:none;, -webkit-tap-highlight-color:transparent;}
img {border:none;}

@media screen and (orientation: portrait){
.ui-mobile, .ui-mobile .ui-page { height: 100%; }
}
@media screen and (orientation: landscape){
.ui-mobile, .ui-mobile .ui-page { height: 	100%;}
}

input {-webkit-border-radius:1px; }



/* === HEADER BARS - DEFAULT AND BLACK === */
.ui-header {
	border-top: 1px solid #000;
	border-bottom: 1px solid transparent !important;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	background: #89a0be; /* Old browsers */
	background: -moz-linear-gradient(top,  #89a0be 0%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89a0be), color-stop(50%,#5877a2), color-stop(51%,#486a9a), color-stop(100%,#4a6c9b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #89a0be 0%,#5877a2 50%,#486a9a 51%,#4a6c9b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #89a0be 0%,#5877a2 50%,#486a9a 51%,#4a6c9b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #89a0be 0%,#5877a2 50%,#486a9a 51%,#4a6c9b 100%); /* IE10+ */
	background: linear-gradient(top,  #89a0be 0%,#5877a2 50%,#486a9a 51%,#4a6c9b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89a0be', endColorstr='#4a6c9b',GradientType=0 ); /* IE6-9 */
}

.ui-header.ui-bar-b {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
	background: #717172; /* Old browsers */
	background: -moz-linear-gradient(top,  #717172 0%, #3a3a3a 50%, #0d0d0f 50%, #0f0f10 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#717172), color-stop(50%,#3a3a3a), color-stop(50%,#0d0d0f), color-stop(100%,#0f0f10)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #717172 0%,#3a3a3a 50%,#0d0d0f 50%,#0f0f10 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #717172 0%,#3a3a3a 50%,#0d0d0f 50%,#0f0f10 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #717172 0%,#3a3a3a 50%,#0d0d0f 50%,#0f0f10 100%); /* IE10+ */
	background: linear-gradient(top,  #717172 0%,#3a3a3a 50%,#0d0d0f 50%,#0f0f10 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#717172', endColorstr='#0f0f10',GradientType=0 ); /* IE6-9 */
}

.ui-header .ui-btn-inner {
	border: 0 none;
}

.ui-header .ui-title {
	color: #fff;
	text-shadow: 0 -1px 0 #4c596a !important;
}

.ui-header.ui-bar-hmp {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,0.6) inset, 0 -1px 0 rgba(0,0,0,0.6) inset;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4BCBF9 /*{b-bar-background-start}*/), to(#0499D0 /*{b-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #4BCBF9 /*{b-bar-background-start}*/, #0499D0 /*{b-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #4BCBF9 /*{b-bar-background-start}*/, #0499D0 /*{b-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #4BCBF9 /*{b-bar-background-start}*/, #0499D0 /*{b-bar-background-end}*/); /* IE10 */
	background-image:      -hmp-linear-gradient(top, #4BCBF9 /*{b-bar-background-start}*/, #0499D0 /*{b-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #4BCBF9 /*{b-bar-background-start}*/, #0499D0 /*{b-bar-background-end}*/);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4BCBF9', endColorstr='#0499D0',GradientType=0 ); /* IE6-9 */
}

.ui-header .ui-btn {
	color: #fff;
	border-color: #375074;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	background: #89a0be; /* Old browsers */
	background: -moz-linear-gradient(top,  #89a0be 0%, #5877a2 50%, #486a9a 51%, #4a6c9b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#89a0be), color-stop(50%,#5877a2), color-stop(51%,#486a9a), color-stop(100%,#4a6c9b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #89a0be 0%,#5877a2 50%,#486a9a 51%,#4a6c9b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #89a0be 0%,#5877a2 50%,#486a9a 51%,#4a6c9b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #89a0be 0%,#5877a2 50%,#486a9a 51%,#4a6c9b 100%); /* IE10+ */
	background: linear-gradient(top,  #89a0be 0%,#5877a2 50%,#486a9a 51%,#4a6c9b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89a0be', endColorstr='#4a6c9b',GradientType=0 ); /* IE6-9 */
}

.ui-header .ui-btn .ui-btn-inner {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.ui-header .ui-btn-up-b, .ui-header .ui-btn-hover-b  {
	border-color: #000;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	background: #6a6a6a; /* Old browsers */
	background: -moz-linear-gradient(top,  #6a6a6a 0%, #313131 49%, #000000 50%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a6a6a), color-stop(49%,#313131), color-stop(50%,#000000), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6a6a6a 0%,#313131 49%,#000000 50%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6a6a6a 0%,#313131 49%,#000000 50%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6a6a6a 0%,#313131 49%,#000000 50%,#000000 100%); /* IE10+ */
	background: linear-gradient(top,  #6a6a6a 0%,#313131 49%,#000000 50%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a6a6a', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

.ui-header .ui-btn-up, .ui-header .ui-btn-hover {
	border-color: #375074;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	background: #376fe0; /* Old browsers */
	background: -moz-linear-gradient(top,  #376fe0 0%, #376fe0 49%, #2361de 50%, #2463de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#376fe0), color-stop(49%,#376fe0), color-stop(50%,#2361de), color-stop(100%,#2463de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #376fe0 0%,#376fe0 49%,#2361de 50%,#2463de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #376fe0 0%,#376fe0 49%,#2361de 50%,#2463de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #376fe0 0%,#376fe0 49%,#2361de 50%,#2463de 100%); /* IE10+ */
	background: linear-gradient(top,  #376fe0 0%,#376fe0 49%,#2361de 50%,#2463de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#376fe0', endColorstr='#2463de',GradientType=0 ); /* IE6-9 */
}

.ui-header .ui-btn-up-hmp .ui-btn-text, .ui-header .ui-btn-hover-hmp .ui-btn-text {
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.ui-header .ui-btn-up-c, .ui-header .ui-btn-hover-c  {
	border-color: #451c1b;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	background: #dc7679; /* Old browsers */
	background: -moz-linear-gradient(top,  #dc7679 0%, #dc7679 49%, #cd2a27 50%, #c92a29 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dc7679), color-stop(49%,#dc7679), color-stop(50%,#cd2a27), color-stop(100%,#c92a29)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #dc7679 0%,#dc7679 49%,#cd2a27 50%,#c92a29 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #dc7679 0%,#dc7679 49%,#cd2a27 50%,#c92a29 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #dc7679 0%,#dc7679 49%,#cd2a27 50%,#c92a29 100%); /* IE10+ */
	background: linear-gradient(top,  #dc7679 0%,#dc7679 49%,#cd2a27 50%,#c92a29 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc7679', endColorstr='#c92a29',GradientType=0 ); /* IE6-9 */
}

.ui-header .ui-btn-up-c .ui-btn-text, .ui-header .ui-btn-hover-c .ui-btn-text {
	color: #FFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}

.ui-header .ui-btn-up-d, .ui-header .ui-btn-hover-d  {
	border-color: #375074;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	background: #376fe0; /* Old browsers */
	background: -moz-linear-gradient(top,  #376fe0 0%, #376fe0 49%, #2361de 50%, #2463de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#376fe0), color-stop(49%,#376fe0), color-stop(50%,#2361de), color-stop(100%,#2463de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #376fe0 0%,#376fe0 49%,#2361de 50%,#2463de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #376fe0 0%,#376fe0 49%,#2361de 50%,#2463de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #376fe0 0%,#376fe0 49%,#2361de 50%,#2463de 100%); /* IE10+ */
	background: linear-gradient(top,  #376fe0 0%,#376fe0 49%,#2361de 50%,#2463de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#376fe0', endColorstr='#2463de',GradientType=0 ); /* IE6-9 */
}

.ui-header .ui-btn-up-d .ui-btn-text, .ui-header .ui-btn-hover-d .ui-btn-text {
	border-color: #375074;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	box-shadow: 0 1px 0 rgba(255,255,255,0.36), 0 1px 0 rgba(0,0,0,0.25) inset !important;
	background: #376fe0; /* Old browsers */
	background: -moz-linear-gradient(top,  #376fe0 0%, #376fe0 49%, #2361de 50%, #2463de 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#376fe0), color-stop(49%,#376fe0), color-stop(50%,#2361de), color-stop(100%,#2463de)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #376fe0 0%,#376fe0 49%,#2361de 50%,#2463de 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #376fe0 0%,#376fe0 49%,#2361de 50%,#2463de 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #376fe0 0%,#376fe0 49%,#2361de 50%,#2463de 100%); /* IE10+ */
	background: linear-gradient(top,  #376fe0 0%,#376fe0 49%,#2361de 50%,#2463de 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#376fe0', endColorstr='#2463de',GradientType=0 ); /* IE6-9 */
}

/**
	List View
**/
/* --------------------------------------------------------------------------------------------------------------------------------- */
.ui-listview-hmp {
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
	box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.ui-listview-hmp, .ui-listview-hmp li {
	border-color: #bbbbbb;
}

.ui-listview-hmp li.ui-btn-active {
	color: #FFF;
	background: #106ce5;
}

.ui-listview .ui-bar-b {
	font-size:11px; font-weight:normal;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-shadow: 0 /*{d-bar-shadow-x}*/ 1px /*{d-bar-shadow-y}*/ 0 /*{d-bar-shadow-radius}*/ #eee /*{d-bar-shadow-color}*/;
	border-top: #717d85;
	border-bottom: #989ea4;
	color: #646c78 /*{c-body-color}*/;
	text-shadow: 0 /*{c-body-shadow-x}*/ 0px /*{c-body-shadow-y}*/ 0 /*{c-body-shadow-radius}*/ #fff /*{c-body-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6bec6), to(#b6bec6)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #b6bec6 /*{c-body-background-start}*/, #b6bec6 /*{c-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(top, #b6bec6 /*{c-body-background-start}*/, #b6bec6 /*{c-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #b6bec6 /*{c-body-background-start}*/, #b6bec6 /*{c-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(top, #b6bec6 /*{c-body-background-start}*/, #b6bec6 /*{c-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(top, #b6bec6 /*{c-body-background-start}*/, #b6bec6 /*{c-body-background-end}*/);
}

.ui-listview .ui-icon-arrow-r {
	background: transparent url(../images/arrow_right.png) center center no-repeat !important;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	box-shadow: 0 0px 0;
}
.ui-li .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li {
	padding: .5em 15px;
	display: block;
}
/* --------------------------------------------------------------------------------------------------------------------------------- */

/* === RETINA DEVICE FIXES === */
@media (-webkit-min-device-pixel-ratio : 1.5), (min-device-pixel-ratio : 1.5) {
	.ui-listview .ui-icon-arrow-r {
		background-image: url(../images/arrow_right@2x.png) !important;
		background-size: 9.5px 14px;
	}
}	

input.ui-input-text {height: 20px;}

/* === jQuery mobile의 header 높이 변경, title 마진 변경, 버튼 top 위치 변경 === */
.ui-header .ui-title { min-height: 1.8em; text-align: center; font-size: 14px;
	display: block; margin: 1.0em 20% .7em;  padding: 0;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap; outline: 0 !important; }
.ui-header .ui-btn-left, .ui-header .ui-btn-right { position: absolute; top: 0.6em; }

/* === jQuery mobile datebox === */
.ui-input-datebox {width: 105px; background-image: none; padding: 0.2em; 
	line-height: 30px; font-size: 12px; display: inline-block; padding-top: 0px; padding-bottom: 0px; } 
.ui-input-datebox { min-height: 30px; font-size: 12px;} /* Fix for IE8 */
.ui-input-datebox .ui-btn-icon-notext { margin-top: 0px !important; margin-bottom:0px !important; }

.ui-input-datebox input {border: 1px solid;font-size: 12px; margin-right:0px;}
	
@media all and (min-width: 120px){
  .ui-input-datebox { width: 105px; display: inline-block; zoom:1; *display: inline-block; font-size: 12px; background-color: #fff;}
}
.ui-datebox-screen-modal { background-color: black; -moz-opacity: 0.5; opacity:.50; filter: alpha(opacity=50); }

/* === BACK BUTTON === */
a[data-role='back'], .ui-header a[data-role='back'] {
	background: transparent url(../images/backButtonSprite.png) 0 0 no-repeat !important;
	-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	border: 0 none !important;
	height: 30px;
}

a[data-role='back'] .ui-btn-inner {
	background: transparent url(../images/backButtonSprite.png) right 0 no-repeat !important;
	margin: 0 0 0 15px;
	padding: 0 8px 0 0 !important;
	height: 30px;
	line-height: 30px;
	-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
}

a[data-role='back'] .ui-icon {
	display: none;
}

/* === BLACK - BACK BUTTON === */
.ui-bar-b a[data-role='back'] {
	background-position: 0 -30px !important;
}
.ui-bar-b a[data-role='back'] .ui-btn-inner {
	background-position: right -30px !important;
}

/* === RETINA DEVICE FIXES === */
@media (-webkit-min-device-pixel-ratio : 1.5), (min-device-pixel-ratio : 1.5) {
	.ui-listview .ui-icon-arrow-r {
		background-image: url(../images/arrow_right@2x.png) !important;
		background-size: 9.5px 14px;
	}
	a[data-rel='back'], .ui-header a[data-rel='back'], a[data-rel="back"] .ui-btn-inner {
		background-image: url(../images/backButtonSprite@2x.png) !important;
		background-size: 500px 60px;
	}
}

.ui-header .ui-btn, .ui-footer .ui-btn {
	display: inline-block;
	margin: 0;
}

.ui-input-search {margin:10px;}

.ui-body-c, .ui-overlay-c {
	background-image: none;
	background-color: #fff;
}
.ui-li {
	border-color: #ddd !important;
}
.ui-li, .ui-li.ui-field-contain {
	border-top-width: 0;
	border-bottom-width: 1px
}

/*
.ui-li-count {
	background:none;
	min-width: 14px;
	height: 14px;
	color: #ffffff;
	border-radius: 10px;
	text-align: center;
	font-size: 12px;
}
*/

.ui-btn-up-d {
	text-shadow: none;
	background: #fff;
}
.ui-btn-up-d:visited, .ui-btn-up-d a.ui-link-inherit {
	color: #333
}
.ui-btn-hover-d {
	border-color: #ddd;
	background: #eaf1f9;
	font-weight: bold;
	color: #333;
	cursor: pointer;
	text-shadow: none;
}
.ui-btn-hover-d:visited, .ui-btn-hover-d:hover, .ui-btn-hover-d a.ui-link-inherit {
	color: #333
}
.ui-btn-down-d {
	border-color: #ddd;
	background: #eaf1f9;
	font-weight: bold;
	color: #333;
	text-shadow: none;

}
.ui-btn-down-d:visited, .ui-btn-down-d:hover, .ui-btn-down-d a.ui-link-inherit {
	color: #333
}
.ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d {
	font-family: Helvetica, Arial, sans-serif;
	text-decoration: none
}